<a href="https://colab.research.google.com/github/papagorgio23/Python101/blob/master/Austen_GBQ_Upload.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Austen: CSV --> GBQ

### Step 1: Authorize Google Account

In [ ]:
# Using GBQ shout Out to Hughes
import pandas_gbq
import pydata_google_auth

SCOPES = [
    'https://www.googleapis.com/auth/cloud-platform',
    'https://www.googleapis.com/auth/drive',
]

credentials = pydata_google_auth.get_user_credentials(
    SCOPES,
    auth_local_webserver=False)

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=262006177488-3425ks60hkk80fssi9vpohv88g6q1iqd.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&state=ZO8PYTNV5ubgnFTBTn4QvKUh38dWL5&prompt=consent&access_type=offline
Enter the authorization code: 4/zgGxOHeW7s5bGTMtObW3z3JZpmD2X-Wr8Fpz4qPgp57FLN0kkBxjlkg

### Step 2: Load CSV

In [ ]:
from google.colab import files
import pandas as pd

#df = pd.read_csv(files.upload())
uploaded = files.upload()

Saving May_2020_Loan_Model_Data_Headers_v2.csv to May_2020_Loan_Model_Data_Headers_v2 (2).csv

#### Step 2.1: Copy and Paste File Name

In [ ]:
## Copy and Paste the file name from above here
file_name = 'May_2020_Loan_Model_Data_Headers_v2.csv'

In [ ]:
import io
df = pd.read_csv(io.BytesIO(uploaded[file_name]))

In [ ]:
df.head()

      Date  Business_Day  ...  Alloc_Left_Over_Goal_Units  Alloc_Total_Goal_Units
0  4/27/20             1  ...                         230             2133.263508
1  4/28/20             2  ...                         230             2133.263508
2  4/29/20             3  ...                         230             2133.263508
3  4/30/20             4  ...                         230             2133.263508
4   5/1/20             5  ...                         230             2133.263508

[5 rows x 40 columns]

### Step 3: Set Destination Table

In [ ]:
# set destination table to insert data into
destination_table = 'Austen.May_2020_Loan_Model_Data_v2'
project_id='ffn-dw-bigquery-prd'

### Step 4: Push Data to GBQ

In [ ]:
# send data to GBQ (pandas_gqb.to_gbq)
# https://pandas-gbq.readthedocs.io/en/latest/api.html#pandas_gbq.to_gbq
# params are: dataframe, destination_table, project_id, if_exists (append), and table_schema (list of dicts, name and type)
pandas_gbq.to_gbq(dataframe = df,
                  destination_table = destination_table,
                  project_id = project_id,
                  if_exists = 'append',
                  )

1it [00:03,  3.97s/it]

### Step 5: Crack Open a drink - YOU DID IT!!