<a href="https://colab.research.google.com/github/papagorgio23/Python101/blob/master/MLB_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Run to setup Notebook

In [ ]:
!pip install pybaseball

Collecting pybaseball
  Downloading https://files.pythonhosted.org/packages/73/ed/032d64eddfbc0acad1cc509e5376ae63161f5ba2e079039ef04794fb51b7/pybaseball-1.0.7.tar.gz
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.6/dist-packages (from pybaseball) (1.16.3)
Requirement already satisfied: pandas>=0.20.2 in /usr/local/lib/python3.6/dist-packages (from pybaseball) (0.24.2)
Requirement already satisfied: beautifulsoup4>=4.4.0 in /usr/local/lib/python3.6/dist-packages (from pybaseball) (4.6.3)
Requirement already satisfied: requests>=2.18.1 in /usr/local/lib/python3.6/dist-packages (from pybaseball) (2.21.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.2->pybaseball) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.2->pybaseball) (2018.9)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.18.1->pybaseball) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.18.1->pybaseball) (2019.3.9)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.18.1->pybaseball) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.18.1->pybaseball) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas>=0.20.2->pybaseball) (1.12.0)
Building wheels for collected packages: pybaseball
  Building wheel for pybaseball (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/ec/07/ea/c76916b911a2f060d1dfa2e900460e6b5004ef334ff83cb419
Successfully built pybaseball
Installing collected packages: pybaseball
Successfully installed pybaseball-1.0.7

In [ ]:
# MLB Teams
teams = ['Red Sox', 'Orioles', 'Blue Jays',
       'Yankees', 'Rays', 'Indians',
       'Tigers', 'Royals', 'White Sox',
       'Twins', 'Rangers', 'Mariners',
       'Astros', 'Angels', 'Athletics',
       'Nationals', 'Mets', 'Marlins',
       'Phillies', 'Braves', 'Cubs',
       'Cardinals', 'Pirates', 'Brewers',
       'Reds', 'Dodgers', 'Giants',
       'Rockies', 'Diamondbacks', 'Padres']

import time
 

# function to gather info about you
def setupInfo():
    name = input("What is your name? ")

    print("\nWelcome to A.I. Sports' MLB analytics team, {}! \nWe're very excited to use your brain to help us beat Vegas and win more games!\n".format(name))

    while True:
        team = input("\n{}, What is your favorite MLB team (no need to include city ie. 'Rays' or 'Twins' will work just fine)? ".format(name))
        if team not in teams:
            print("\nSorry... I don't think that is a real team...Pick one of these:\n")
            for tm in teams:
                print(tm)
        else:
            break
        
    print("\nVery nice. The {} are a great team.\n".format(team)) 
    
    # Wait for 1.5 seconds
    time.sleep(1.5)
    print("\n{}, your first assignment:\n".format(name))
    time.sleep(1)
    print("I need you to tell me if the {} have been over performing or underperforming compared to the Pythagorean Wins Formula over the last 10 years.".format(team))

# A.I. Sports

Run the next cell

In [ ]:
setupInfo()

What is your name? Jason

Welcome to A.I. Sports' MLB analytics team, Jason!
We're very excited to use your brain to help us beat Vegas and win more games!


Jason, What is your favorite MLB team (no need to include city ie. 'Rays' or 'Twins' will work just fine)? Boston

Sorry... I don't think that is a real team...Pick one of these:

Red Sox
Orioles
Blue Jays
Yankees
Rays
Indians
Tigers
Royals
White Sox
Twins
Rangers
Mariners
Astros
Angels
Athletics
Nationals
Mets
Marlins
Phillies
Braves
Cubs
Cardinals
Pirates
Brewers
Reds
Dodgers
Giants
Rockies
Diamondbacks
Padres

Jason, What is your favorite MLB team (no need to include city ie. 'Rays' or 'Twins' will work just fine)? Orioles

Very nice. The Orioles are a great team.


Jason, your first assignment:

I need you to tell me if the Orioles have been over performing or underperforming compared to the Pythagorean Wins Formula over the last 10 years.

## Pythagorean Wins Formula


$$ PythWin\% = \frac{RunScored^2} { (RunScored^2 + RunAllowed^2)} $$

<br>

With some basic arithmetic transformation this equation could look like this:

<br>

$$ PythWin\% = \frac{ScoreRatio^2} { (ScoreRatio^2 + 1)} $$

# MLB

## Load Data

In [ ]:
import pandas as pd

In [ ]:
MLBdata = pd.read_csv('https://raw.githubusercontent.com/papagorgio23/Python101/master/Allteams.csv')
MLBdata.head()

    Tm   W   L   W-L%   GB   RS   RA League  Year
0  PHI  96  64  0.600   --  758  632     NL  2010
1  SFG  91  69  0.569  5.0  692  579     NL  2010
2  ATL  90  70  0.563  6.0  730  615     NL  2010
3  SDP  89  71  0.556  7.0  661  576     NL  2010
4  CIN  89  71  0.556  7.0  780  679     NL  2010

In [ ]:
MLBdata.describe()

                W           L        W-L%          RS          RA         Year
count  270.000000  270.000000  270.000000  270.000000  270.000000   270.000000
mean    80.540741   80.540741    0.500030  699.548148  699.548148  2014.000000
std     11.379733   11.365678    0.070498   71.713051   79.669458     2.586784
min     47.000000   54.000000    0.290000  507.000000  513.000000  2010.000000
25%     72.000000   71.250000    0.444750  646.000000  644.250000  2012.000000
50%     80.000000   81.000000    0.498500  698.000000  693.500000  2014.000000
75%     90.000000   89.000000    0.556000  745.750000  753.500000  2016.000000
max    108.000000  115.000000    0.667000  896.000000  894.000000  2018.000000

## Feature Engineer

Add 4 columns:


1.   ScoreRatio
2.   PredWin
3.   Error
4.   AbsolutError


**I want the PredWin to be rounded to 3 decimal places

In [ ]:
MLBdata['ScoreRatio'] = MLBdata['RS'] / MLBdata['RA']
MLBdata['PredWin'] = round(MLBdata['ScoreRatio']**2 / (MLBdata['ScoreRatio']**2 + 1), 3)
MLBdata['Error'] = MLBdata['W-L%'] - MLBdata['PredWin']
MLBdata['AbsolutError'] = abs(MLBdata['Error'])

MLBdata.head()

    Tm   W   L   W-L%   GB  ...  Year  ScoreRatio PredWin  Error  AbsolutError
0  PHI  96  64  0.600   --  ...  2010    1.199367   0.590  0.010         0.010
1  SFG  91  69  0.569  5.0  ...  2010    1.195164   0.588 -0.019         0.019
2  ATL  90  70  0.563  6.0  ...  2010    1.186992   0.585 -0.022         0.022
3  SDP  89  71  0.556  7.0  ...  2010    1.147569   0.568 -0.012         0.012
4  CIN  89  71  0.556  7.0  ...  2010    1.148748   0.569 -0.013         0.013

[5 rows x 13 columns]

## What is your mean error rate?

In [ ]:
meanError = round(MLBdata['AbsolutError'].mean()*100, 2)

print("Your predicted win percentages were off by {}% over the 9 season between 2010-18".format(meanError))

Your predicted win percentages were off by 2.03% over the 9 season between 2010-18

In [ ]:
# adding metrics to data
Allteams %<>% mutate(ScoreRatio = RS / RA, # ratio of runs scored to runs allowed
                     RS2 = RS * RS, # Runs Scored Squared
                     RA2 = RA * RA, # Runs Allowed Squared
                     PredWin = ScoreRatio^2 / (ScoreRatio^2 + 1), # Pythagorean predicted win percent
                     ActualWin = W / (W + L), # Actual win percent
                     Error = ActualWin - PredWin, # difference of prediction from actual
                     RMSE = sqrt(Error^2), # absolute value of our error
                     Error1 = ActualWin - `pythW-L%`, # difference of baseball reference's pyth%
                     RMSE1 = sqrt(Error1^2))

In [ ]:
from pybaseball.lahman import *

In [ ]:
# data on teams by year: record, division, stadium, attendance, etc
teams = teams()

In [ ]:
teams

In [ ]:
from pybaseball import schedule_and_record
data = schedule_and_record(2017, "All")
data

In [ ]:
from bs4 import BeautifulSoup
from bs4 import Comment
import requests
import datetime
import pandas as pd

In [ ]:


def get_soup(year):
    url = 'http://www.baseball-reference.com/leagues/MLB/{}-standings.shtml'.format(year)
    s=requests.get(url).content
    return BeautifulSoup(s, "lxml")

def get_tables(soup, season):
    datasets = []
    if(season>=1969):
        tables = soup.find_all('table')
        for table in tables:
            data = []
            headings = [th.get_text() for th in table.find("tr").find_all("th")]
            data.append(headings)
            table_body = table.find('tbody')
            rows = table_body.find_all('tr')
            for row in rows:
                cols = row.find_all('td')
                cols = [ele.text.strip() for ele in cols]
                cols.insert(0,row.find_all('a')[0]['title']) # team name
                data.append([ele for ele in cols if ele])
            datasets.append(data)
    else:
        data = []
        table = soup.find('table')
        headings = [th.get_text() for th in table.find("tr").find_all("th")]
        headings[0] = "Name"
        if(season>=1930):
            for i in range(15): headings.pop()
        elif(season>=1876): 
            for i in range(14): headings.pop()
        else:
            for i in range(16): headings.pop()
        data.append(headings)
        table_body = table.find('tbody')
        rows = table_body.find_all('tr')
        for row in rows:
            if row.find_all('a') == []: continue
            cols = row.find_all('td')
            if(season>=1930):
                for i in range(15): cols.pop()
            elif(season>=1876): 
                for i in range(14): cols.pop()
            else:
                for i in range(16): cols.pop()
            cols = [ele.text.strip() for ele in cols]
            cols.insert(0,row.find_all('a')[0]['title']) # team name
            data.append([ele for ele in cols if ele])
        datasets.append(data)
    #convert list-of-lists to dataframes
    for idx in range(len(datasets)):
        datasets[idx] = pd.DataFrame(datasets[idx])
    return datasets #returns a list of dataframes

def standings(season=None):
    # get most recent standings if date not specified
    if(season is None):
        season = int(datetime.datetime.today().strftime("%Y"))
    if season<1871:
        raise ValueError("This query currently only returns standings until the 1871 season. Try looking at years from 1871 to present.")
    # retrieve html from baseball reference
    soup = get_soup(season)
    if season>=1969:
        tables = get_tables(soup, season)
    else:
        t = soup.find_all(string=lambda text:isinstance(text,Comment))
        # list of seasons whose table placement breaks the site's usual pattern
        exceptions = [1884, 1885, 1886, 1887, 1888, 1889, 1890, 1892, 1903]
        if (season>1904 or season in exceptions): code = BeautifulSoup(t[16], "lxml")
        elif season<=1904: code = BeautifulSoup(t[15], "lxml")
        tables = get_tables(code, season)
    tables = [pd.DataFrame(table) for table in tables]
    for idx in range(len(tables)):
        tables[idx] = tables[idx].rename(columns=tables[idx].iloc[0])
        tables[idx] = tables[idx].reindex(tables[idx].index.drop(0))
    return tables

In [ ]:
soup = get_soup(2017)

In [ ]:
tables = soup.find_all('table')

In [ ]:
tables = get_tables(soup, 2017)

In [ ]:
tables[11]

In [ ]:
datasets = []
data = []
headings = [th.get_text() for th in table.find("tr").find_all("th")]
data.append(headings)
table_body = tables.find('tbody')
rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    cols.insert(0,row.find_all('a')[0]['title']) # team name
    data.append([ele for ele in cols if ele])
datasets.append(data)

In [ ]:

def get_soup(start_season, end_season, league, ind):
    url = "http://www.fangraphs.com/leaders.aspx?pos=all&stats=bat&lg={}&qual=0&type=8&season={}&month=0&season1={}&ind={}&team=0,ts&rost=0&age=0&filter=&players=0&page=1_100000"
    url = url.format(league, end_season, start_season, ind)
    s=requests.get(url).content
    #print(s)
    return BeautifulSoup(s, "lxml")

In [ ]:

soup = get_soup(start_season=2018, end_season=2018, league='all', ind=1)
#    table = get_table(soup, ind)
#    table = postprocessing(table)
#    return table

In [ ]:
tables = soup.find_all('table')

In [ ]:
len(tables)

In [ ]:
table = tables[11]

data = []

headings = ["Season","Team","G","PA","HR","R","RBI","SB","BB%","K%","ISO","BABIP","AVG","OBP","SLG","wOBA","wRC+","BsR","Off","Def","WAR"]
data.append(headings)
table_body = table.find('tbody')
rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols[1:]])
data = pd.DataFrame(data)
data = data.rename(columns=data.iloc[0])
data = data.reindex(data.index.drop(0))

In [ ]:
data

In [ ]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

def get_soup(start_season, end_season, league, ind):
    url = "http://www.fangraphs.com/leaders.aspx?pos=all&stats=bat&lg={}&qual=0&type=8&season={}&month=0&season1={}&ind={}&team=0,ts&rost=0&age=0&filter=&players=0&page=1_100000"
    url = url.format(league, end_season, start_season, ind)
    s=requests.get(url).content
    #print(s)
    return BeautifulSoup(s, "lxml")

def get_table(soup, ind):
    #doesn't work yet
    tables = soup.find_all('table')
    table = tables[11]
    data = []
    # couldn't find these in the table, hardcoding for now
    if ind == 0:
        headings = ["Team", "G","PA","HR","R","RBI","SB","BB%","K%","ISO","BABIP","AVG","OBP","SLG","wOBA","wRC+","BsR","Off","Def","WAR"]
    else:
        headings = ["Season","Team","G","PA","HR","R","RBI","SB","BB%","K%","ISO","BABIP","AVG","OBP","SLG","wOBA","wRC+","BsR","Off","Def","WAR"]

    data.append(headings)
    table_body = table.find('tbody')
    rows = table_body.find_all('tr')
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        data.append([ele for ele in cols[1:]])
    data = pd.DataFrame(data)
    data = data.rename(columns=data.iloc[0])
    data = data.reindex(data.index.drop(0))
    return data


def postprocessing(data):
    # fill missing values with NaN
    data.replace(r'^\s*$', np.nan, regex=True, inplace = True)
    data.replace(r'^null$', np.nan, regex=True, inplace = True)

    # convert percent strings to float values
    percentages = ['BB%', 'K%']
    for col in percentages:
        # skip if column is all NA (happens for some of the more obscure stats + in older seasons)
        if data[col].count()>0:
            data[col] = data[col].str.strip(' %')
            data[col] = data[col].str.strip('%')
            data[col] = data[col].astype(float)/100.
        else:
            pass

    # convert columns to numeric
    not_numeric = ['Team']
    numeric_cols = [col for col in data.columns if col not in not_numeric]
    data[numeric_cols] = data[numeric_cols].astype(float)
    return data



def team_batting(start_season, end_season=None, league='all', ind=1):
    """
    Get season-level batting data aggregated by team. 
    ARGUMENTS:
    start_season : int : first season you want data for (or the only season if you do not specify an end_season)
    end_season : int : final season you want data for 
    league : "all", "nl", or "al"
    ind : int : =1 if you want individual season level data, =0 if you want a team's aggreagate data over all seasons in the query
    """
    if start_season is None:
        raise ValueError("You need to provide at least one season to collect data for. Try team_batting(season) or team_batting(start_season, end_season).")
    if end_season is None:
        end_season = start_season
    soup = get_soup(start_season=start_season, end_season=end_season, league=league, ind=ind)
    table = get_table(soup, ind)
    table = postprocessing(table)
    return table