<a href="https://colab.research.google.com/github/papagorgio23/Python101/blob/master/Python_Math_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Integer Calculations
The first examples deal with integer calculations.  Division will truncate 
integer calculations and the % operator will produce the remainder.  Note that
z/y = 0 and z%y = 3.  The statement x=-2 is called an assignment statement.

In [ ]:
x=-2
y=4
z=3
print (x+y, x*y, z/x, z/y, z%x, z%y)

2 -8 -1.5 0.75 -1 3

### Floating point calculations and conversions
We repeat with floating point calculations using "float" which is a 
built-in Python function that converts integers to floating point numbers.
Also shown is "int" which converts floating point numbers to integers. Note
that when an integer and floating point number are involved in the same
calculation, the result is a floating point number.

In [ ]:
x = float(x)
y = float(y)
z = float(z)
print (x, y, z)
print (z/x, z/y, int(z/y))

k=int((z/x)*(1))
print('Integer {}'.format(k))      # This produces an integer.
l=int((z/x)*(1.0))     # This produces a floating point number.
l

-2.0 4.0 3.0
-1.5 0.75 0
Integer -1

-1

### Order of Operations calculations
Whenever there is doubt about a variable's type, the interpreter can be used.
For any variable such as x, enter type(x) in the interpreter and the type of
variable will be displayed.  The order of operations can be remembered using
the acronym PEMDAS.  Note the difference between * and **.

In [ ]:
print (1+2*5, (1+2)*5, (4-2)**0.5)
print  (y*x, y*(1/x), y**x)

11 15 1.4142135623730951
-8.0 -2.0 0.0625

### Combinations of Functions and Operations
Functions and operations can be combined.  Note the use of % and int(). The  
absolute value function is abs().  Round() will round a number to a specific
number of decimal places.  Round(12.345,2)= 12.35.

In [ ]:
m = int((4-2)**0.5)
print (m)
print (y*(1%x))             # Note that -2.0 does not divide 1 so 1%(-2.0)=-1.0. 
n = int(y*(1%x))
n

1
-4.0

-4

### Strings
A string is a sequence of characters.  If the sequence involves numbers,
they are treated as characters.  The built-in function len() tells us the
length of the string.  The first character in a string is indexed by the
number zero.  A negative index can be used.  This starts the counting from 
end of the string.  All indexes are placed within brackets as shown below.
Python is memoryless.  The variables x, y and z can be defined as strings
even though they were initially integers and then floating point numbers.

In [ ]:
x='aax'
y='bbb'
z='123'
print (x[0], x[2], z[-1], x*5, len(x*5))

print('\nExamples of concatenation and use of len() and indexing:')
print (x+y, (x+y+z*2), len(x+y+z*2), (x+y+z*2)[6], (x+y+z*2)[-6])

a x 3 aaxaaxaaxaaxaax 15

Examples of concatenation and use of len() and indexing:
aaxbbb aaxbbb123123 12 1 1

### Quadratic Formula Section R.4 Example 4 Lial

Polynomials and other equations may be coded and Python used as a calculator.
This is demonstrated using Example 4 of Section R.4 Lial.

In [ ]:
a=1.0
b=-4.0
c=-5.0
root_1=(-b+(b**2-4*a*c)**0.5)/(2*a)
root_2=(-b-(b**2-4*a*c)**0.5)/(2*a)
print ('Root_1=', root_1)   # %root_1 indicates a variable will be printed.
print ('Root_2=', root_2)   # %root_2 indicates root_2 is to be printed.

# A handy function is round().  It rounds to an specified number of decimal
# places.  For example round(3.14159,2)=3.14.  Check the output.

'3.14159 rounded to two decimal places is {}'.format(round(3.14159,2))

Root_1= 5.0
Root_2= -1.0

'3.14159 rounded to two decimal places is 3.14'

### Practice
Write and execute code for the following exercises.  Compare to the answer 
sheets.  These problems can be solved using the interpreter.

Exercise 2.4 of "Think Python" is repeated below.  Do these
calculations.  For the value of pi, use 3.14159.  

Exercise #1:  The volume of a sphere with radius r is (4/3)(pi)r**3.  What
is the volume of a sphere with radius 5?  (392.6 is wrong!)

Exercise #2:  Suppose the cover price of a book is $24.95, but bookstores get
a 40% discount.  Shipping costs \$3 for the first copy and 75 cents for each 
additional copy.  What is the total wholesale cost for 60 copies?

Exercise #3:  If I leave my house at 6:52 am and run 1 mile at an easy pace
(8:15 per mile), then 3 miles at tempo (7:12 per mile) and 1 mile at easy
pace again, what time do I get home for breakfast?